<main>
<div class="account_gegevens">
    <h1 id="title">Account gegevens updaten</h1>
    <div class="input_box">
      <input type="email" placeholder="Uw E-mailadres">
    </div>
    <div class="input_box">
      <input type="password" placeholder="Wachtwoord">
    </div>
</div>
</main>