<main>
<div class="settings">
    <div class="settings__accountlink">
        <div class="settings__accountlinkicon">
            <svg class="account-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path class="a" d="M17,3A14,14,0,1,0,31,17,14.005,14.005,0,0,0,17,3Zm0,4.2a4.2,4.2,0,1,1-4.2,4.2A4.194,4.194,0,0,1,17,7.2Zm0,19.88a10.081,10.081,0,0,1-8.4-4.508c.042-2.786,5.6-4.312,8.4-4.312s8.358,1.526,8.4,4.312A10.081,10.081,0,0,1,17,27.08Z" transform="translate(-3 -3)"/></svg>
        </div>

        <div class="settings__accountlinktext">
            <p>Account gegevens aanpassen?</p>
            <a class="settings__accountlinktext__linktext" href="account">Ga naar het account-tabblad</a>
        </div>

    </div>

    <div class="settings__settingsall">

        <h4>Instellingen</h4>

        <div class="settings__settingsall__smalltext">
            <div>
                <p>Animaties weergeven</p>
                <switchknob />

                <p>Dark modus activeren</p>
                <switchknob />

                <p>Push meldingen ontvangen</p>
                <switchknob />

                <p>Taal</p>
                <div>
                    <div class="settings__settingsall__optionmenu">
                        <p class="settings__settingsall__optionmenu__text">Nederlands</p>
                        <svg class="settings__settingsall__optionmenu__arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M5.1,3.451l.595-.61a.629.629,0,0,1,.908,0L11.811,8.18a.669.669,0,0,1,0,.932L6.6,14.454a.629.629,0,0,1-.908,0l-.595-.61a.672.672,0,0,1,.011-.943L8.34,9.746H.643A.65.65,0,0,1,0,9.087V8.208a.65.65,0,0,1,.643-.659h7.7L5.113,4.394A.667.667,0,0,1,5.1,3.451Z" transform="translate(14.647) rotate(90)" fill="#49bcf9"/>
                        </svg>

                    </div>
                </div>

                <p>Toevoeg optie</p>
                <div>
                    <div class="settings__settingsall__optionmenu">
                        <p class="settings__settingsall__optionmenu__text">Nederlands</p>
                        <svg class="settings__settingsall__optionmenu__arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M5.1,3.451l.595-.61a.629.629,0,0,1,.908,0L11.811,8.18a.669.669,0,0,1,0,.932L6.6,14.454a.629.629,0,0,1-.908,0l-.595-.61a.672.672,0,0,1,.011-.943L8.34,9.746H.643A.65.65,0,0,1,0,9.087V8.208a.65.65,0,0,1,.643-.659h7.7L5.113,4.394A.667.667,0,0,1,5.1,3.451Z" transform="translate(14.647) rotate(90)" fill="#49bcf9"/>
                        </svg>

                    </div>
                </div>
            </div>
            
        </div>

    </div>


</div>
</main>