<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Include Vue Library -->
        <script src="./js/vue.js" defer></script>

        <!-- Include custom Javascript file -->
        <script src="./js/script.js" type="module" defer></script>

        <!-- Document title -->
        <title>I'veUsed</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>