// Color variables
$color-primary: #49BCF9
$color-secundary: #EFD13C
$color-warning: #FF8080
$color-white: #ffffff
$color-white-secondary: #f4f4f4
$color-white-third:#E6E6E6
$color-black: #1D1D1D
$color-gray: #A5A5A5

// Other variables
$border-radius: 1.25rem

$transition-fast: .25s ease-out